<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>examcreation</display-name>
  <servlet>
    <description>
    	</description>
    <display-name>GetStudents</display-name>
    <servlet-name>GetStudents</servlet-name>
    <servlet-class>com.aditya.exam.GetStudents</servlet-class>
  </servlet>
  <servlet>
    <description>
    	</description>
    <display-name>GetSemesterMarks</display-name>
    <servlet-name>GetSemesterMarks</servlet-name>
    <servlet-class>com.aditya.exam.GetSemesterMarks</servlet-class>
  </servlet>
  <servlet>
    <description>
    	</description>
    <display-name>GetQuestionPapers</display-name>
    <servlet-name>GetQuestionPapers</servlet-name>
    <servlet-class>com.aditya.exam.GetQuestionPapers</servlet-class>
  </servlet>
   <servlet>   
    <description>
    	</description>
    <display-name>AddSemesterMarks</display-name>
    <servlet-name>AddSemesterMarks</servlet-name>
    <servlet-class>com.aditya.exam.AddSemesterMarks</servlet-class>
  </servlet>
  <servlet>
    <description>
    	</description>
    <display-name>AddMCQ</display-name>
    <servlet-name>AddMCQ</servlet-name>
    <servlet-class>com.aditya.exam.AddMCQ</servlet-class>
  </servlet>
  <servlet>
    <description>
    	</description>
    <display-name>GetQuestions</display-name>
    <servlet-name>GetQuestions</servlet-name>
    <servlet-class>com.aditya.exam.GetQuestions</servlet-class>
  </servlet>
  <servlet>
    <description>
    	</description>
    <display-name>AddDescriptive</display-name>
    <servlet-name>AddDescriptive</servlet-name>
    <servlet-class>com.aditya.exam.AddDescriptive</servlet-class>
  </servlet>
  <servlet>
    <description>
    	</description>
    <display-name>AddQuestionPaper</display-name>
    <servlet-name>AddQuestionPaper</servlet-name>
    <servlet-class>com.aditya.exam.AddQuestionPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMCQ</servlet-name>
    <url-pattern>/MCQ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddDescriptive</servlet-name>
    <url-pattern>/AddDescriptive</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddQuestionPaper</servlet-name>
    <url-pattern>/CreateExamPaper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetQuestions</servlet-name>
    <url-pattern>/GetQuestions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetStudents</servlet-name>
    <url-pattern>/GetStudents</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSemesterMarks</servlet-name>
    <url-pattern>/AddSemesterMarks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSemesterMarks</servlet-name>
    <url-pattern>/GetSemesterMarks</url-pattern>
  </servlet-mapping>  
    <servlet-mapping>
    <servlet-name>GetQuestionPapers</servlet-name>
    <url-pattern>/GetQuestionPapers</url-pattern>
  </servlet-mapping>  
</web-app>