<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>Hello, World Application</display-name>
  <description>
	This is a simple web application with a source code organization
	based on the recommendations of the Application Developer's Guide.
    </description>
  <servlet>
    <description>
    	</description>
    <display-name>AddRegistrationServlet</display-name>
    <servlet-name>AddRegistrationServlet</servlet-name>
    <servlet-class>com.aditya.AddRegistrationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
    	</description>
    <display-name>ViewRegistrationServlet</display-name>
    <servlet-name>ViewRegistrationServlet</servlet-name>
    <servlet-class>com.aditya.ViewRegistrationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
    	</description>
    <display-name>EditRegistrationServlet</display-name>
    <servlet-name>EditRegistrationServlet</servlet-name>
    <servlet-class>com.aditya.EditRegistrationServlet</servlet-class>
  </servlet>  
  
  <servlet>
    <description>
    	</description>
    <display-name>DeleteRegistrationServlet</display-name>
    <servlet-name>DeleteRegistrationServlet</servlet-name>
    <servlet-class>com.aditya.DeleteRegistrationServlet</servlet-class>
  </servlet>  
  
  
  <servlet-mapping>
    <servlet-name>AddRegistrationServlet</servlet-name>
    <url-pattern>/AddRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewRegistrationServlet</servlet-name>
    <url-pattern>/ViewRegistrationServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>EditRegistrationServlet</servlet-name>
    <url-pattern>/EditRegistrationServlet</url-pattern>
  </servlet-mapping>
  
     <servlet-mapping>
    <servlet-name>DeleteRegistrationServlet</servlet-name>
    <url-pattern>/DeleteRegistrationServlet</url-pattern>
  </servlet-mapping>
  
</web-app>